*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-family:  'Arial Narrow Bold', sans-serif;
    color: orangered;
    margin: 20px;
}
.juego{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.juego .seleccion{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 234, 234);
    border-radius: 10px;
    overflow: hidden;
}

.juego .seleccion .seleccion_header h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: brown;
    width: 100%;
    height: 80px;
    line-height: 40px;
    background-color: aquamarine;
}
.juego .seleccion .seleccion_header h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: red;
    margin-top: 10px;
}
.juego .seleccion .seleccion_interaccion{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.juego .seleccion form{
    display: flex;
    gap: 40px;
}
form label span {
    font-size: 30px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 10px;
    border: solid 2px rgb(213, 194, 166);
}
form label span:hover{
    box-shadow: 2px 4px 6px lightsalmon;
    background-color: rgb(208, 238, 241);
}
form input{
    appearance: none;
    visibility: hidden;

}
form label input[type=radio]:checked + span{
    box-shadow: 2px 4px 6px rgb(129, 39, 3);
    background-color: rgb(179, 209, 245);

}
.botones{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
#jugar, #reiniciar{
    margin-top: 30px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: normal;
    color: orangered;
    background-color: wheat;
    border-radius: 20px;
    box-shadow: 2px 4px 2px rgb(239, 151, 116);
    border-color: goldenrod;
}
#jugar:hover{
    background-color: lightgoldenrodyellow;
    color: rgb(241, 103, 17);
    font-weight: bolder;
}
.juego .duelo{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 234, 234);
    border-radius: 20px 20px 0 0;
    overflow: hidden;

}
.interface{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.interface_resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: aquamarine;
}
.interface_resultado h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    color: brown;
}
.interface_duelo{
    display: flex;
    align-items: center;
    width: 90%;
    height: 70%;
    justify-content: space-evenly;
}

.interface_duelo div{
    display: flex;
    align-items: center;
    height: 70%;
    width: 30%;
}
.interface_duelo div p{
    width: 100%;
    text-align: center;
    font-family: Helvetica;
    font-weight: bolder;
}
#icono_jugador, #icono_pc{
    font-size: 80px;
}
#vs{
    font-size: 50px;
    color: blueviolet;
}
.duelo .contador{
    width: 70%;
    height: fit-content;
    justify-content: space-evenly;
    display: flex;
    margin-top: 20px;
    
}
.contador>div{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    height: fit-content;
    width: 40%;
    background-color: rgb(210, 243, 216);
    border-radius: 0px 20px 0px 20px;
    overflow: hidden;
}
.contador div h3{
    width: 100%;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    background-color: aquamarine;
    margin: 0;
}
.contador div div{
    height: fit-content;
    width: 70%;
    margin: 0 auto;
}
.contador div div p{
    margin: 10px 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
